body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-40deg, #0cc899, #1797d2, #ff4242);
	background-size: 400% 400%;
	-webkit-animation: Gradient 20s ease infinite;
	-moz-animation: Gradient 20s ease infinite;
	animation: Gradient 20s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

h1 {
	color: #ffffffec;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 3.5em;
	text-align: center;
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.185);
}

span3{
	color: rgb(255, 255, 255);
	font-weight: bold;
}

span5{
	color: rgba(255, 255, 255, 0.589)
}

.form-control{
	color: #ffffff;
}

.form-control:focus {
	color: #ffffff;
}
.has-success .form-control, .is-focused .has-success .form-control {
	background-image: linear-gradient(to top, #ffffff 2px, rgba(76, 175, 80, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}
a{
	color: #ffffff;
}